<div class="carrier-form">
    <form [formGroup]="form">

        <div class="layout-row">
            <div class="layout-column flex-grow">
                <div class="form-field">
                    <label class="form-label">Name</label>
                    <input
                        class="form-input"
                        type="text"
                        formControlName="name"
                        placeholder="Name of Carrier">
                    <div class="error"
                        *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                        Carrier name is required
                    </div>
                </div>

                <div class="form-field">
                    <label class="form-label">Description</label>
                    <input
                        class="form-input"
                        type="text"
                        formControlName="description"
                        placeholder="Carrier Description">
                    <div class="error"
                        *ngIf="form.get('description').hasError('required') && form.get('description').touched">
                        Description is required
                    </div>
                </div>
            </div>

            <div class="logo-upload-container">
                <div
                    *ngIf="this.form.get('logo_url').value.length === 0"
                    class="logo-placeholder">
                </div>
    
                <img
                    *ngIf="this.form.get('logo_url').value.length > 0"
                    class="carrier-logo"
                    [src]="this.form.get('logo_url').value" alt="Carrier Logo">

                <label for="imageUpload" class="upload-button ">
                    <input
                        class="form-input"
                        type="file"
                        (change)="uploadImage($event)"
                        name="imageUpload"
                        id="imageUpload"/>
                    {{ !uploading ? 'Upload Logo' : 'Uploading Logo...'}}
                </label>
            </div>
        </div>

        <div class="form-field has-checkbox">
            <div class="form-label">Visibility: </div>
            <input
                class="form-checkbox"
                type="checkbox"
                formControlName="is_public">
            <label>Public</label>

            <input
                class="form-checkbox"
                type="checkbox"
                formControlName="is_public">
            <label>Per Store</label>
        </div>

        <app-carrier-configurations></app-carrier-configurations>

        <div class="form-actions">
            <button class="form-button"
                (click)="cancel()">
                    Back
            </button>

            <button class="form-button primary-button"
                *ngIf="exists"
                (click)="updateCarrier()">
                    Update
            </button>

            <button class="form-button primary-button"
                *ngIf="!exists"
                (click)="createCarrier()">
                    Create
            </button>
        </div>
    </form>
</div>
