%button {
    background: white;
    border: 1px solid #4b71fc;
    border-radius: 3px;
    color: #4b71fc;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .4px;
    min-height: 38px;
    min-width: 5.3333rem;
    padding: 5px 10px;
    transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
}

.upload-button {
    @extend %button;
    line-height: 38px;
    max-height: 38px;
    padding: 0 5px;
}

.carrier-form {
    width: 40%;
    margin: 25px auto 0;
    padding: 3rem 4rem;

    h1 {
        margin-bottom: 5rem;
        margin-top: 0;
    }

    .logo-upload-container {
        margin-left: 2rem;
        margin-top: 1.3rem;
        display: flex;
        flex-direction: column;

        .carrier-logo {
            max-width: 8rem;
            height: 4rem;
            margin: 5px 0 5px;
        }
    
        .logo-placeholder {
            background: rgba(1, 1, 1, 0.2);
            border: 1px solid lightgray;
            max-width: 8rem;
            height: 4rem;
            margin: 5px 0 5px;
        }
    }
}
