<div *ngIf="!hidePage">
    <h1>Carrier Portal</h1>
    <button
        [routerLink]="['../carriers/new']"
        class="button add-new">
        + Add New Carrier
    </button>

    <div class="carriers"
        *ngIf="carriers as carrierList; else loading;">

        <li class="carrier layout-column"
            *ngFor="let carrier of carrierList">

            <div class="layout-row align-items-center">
                <img [src]="carrier.logo_url" class="carrier-logo" alt="">
                <div class="carrier-detail">{{ carrier.name }}</div>
                <button class="button primary"
                    [routerLink]="['../carriers', carrier.id]">
                    Edit
                </button>
            </div>
        </li>
    </div>
</div>

<app-carrier-form
    *ngIf="hidePage"
    [carrier]=""
    (hideForm)="toggleAddNewForm()"
    (create)="createCarrier($event)"
    >
</app-carrier-form>

<ng-template #loading>
    <div class="loading">
        <b>Loading Carriers</b>
    </div>
</ng-template>
