<div class="carriers"
    *ngIf="carriers as carrierList; else loading;">
    <h1>List of Carriers</h1>

    <li class="carrier layout-column"
        *ngFor="let carrier of carrierList">

        <div class="layout-row align-items-center">
            <div class="carrier-detail">{{ carrier.name }}</div>
            <button class="button primary"
                [disabled]="displayFormForCarrier === carrier.id"
                (click)="displayCarrierForm(carrier)">
                Edit
            </button>
        </div>

        <app-carrier-form *ngIf="displayFormForCarrier === carrier.id"
            [carrier]="carrier"
            (hideForm)="resetCarrierForm()"
            (update)="updateCarrier($event)">
        </app-carrier-form>
    </li>
</div>

<button class="button add-new">
    + Add New Carrier
</button>

<ng-template #loading>
    <b>Loading Carriers</b>
</ng-template>
