.carriers {

    .layout-column {
        display: flex;
        flex-direction: column;
    }

    .layout-row {
        display: flex;
        flex-direction: row;
    }

    .align-items-center {
        align-items: center;
    }
    
    .carrier {
        padding: 10px;

        .carrier-detail {
            width: 200px;
            text-align: start;
        }

        .carrier-logo {
            max-height: 4rem;
            max-width: 8rem;
            margin-right: 1rem;
        }
    }
}

.button {
    background: white;
    border: 1px solid #4b71fc;
    color: #4b71fc;
    cursor: pointer;
    margin-left: 10px;
    min-height: 38px;
    min-width: 5.3333rem;
    padding: 5px 10px;

    &.primary {
        background: #4b71fc;
        color: white; 
    }

    &.add-new {
        position: fixed;
        top: 10px;
        right: 50px;
    }

    &:disabled {
        background-color: #e9eaea;
        border-color: #e9eaea;
        color: #bdc0c0;
    }
}

.loading {
    background: rgba(255, 255, 255,0.4);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;

    b {
        font-size: 1.5rem;
        color: rgba(1, 1, 1, 0.54);
    }
}
