
<div *ngIf="carrier?.id; else loading;">
    <div *ngIf="isEditing">
            <h1>{{ carrier?.name ? 'Edit ' + carrier.name : 'Add Shipping Rate Provider' }}</h1>
        
            <app-carrier-form
                [carrier]="carrier"
                (goBack)="toggleEditing()"
                (create)="createCarrier($event)"
                (update)="updateCarrier($event)">
            </app-carrier-form>
        </div>
        
        <div *ngIf="displayConfigurationForm">
            <app-configuration-form
                [configuration]="chosenConfiguratoion"
                (goBack)="hideConfigForm()"
                (create)="createConfiguration($event)">
            </app-configuration-form>
        </div>
        
        <div class="carrier layout-column"
            *ngIf="!isEditing && !displayConfigurationForm">
            <button
                [routerLink]="['/carriers']"
                class="button back-button">
                <i class="material-icons">arrow_back</i>
                Back To Carriers
            </button>
            <div class="layout-row carrier-details">
                <div class="layout-column">
                    <div class="form-field">
                        <label class="form-label">Name</label>
                        <input
                            class="form-input"
                            type="text"
                            [value]="carrier?.name"
                            disabled>
                    </div>
            
                    <div class="form-field">
                        <label class="form-label">Description</label>
                        <input
                            class="form-input"
                            type="text"
                            [value]="carrier?.description"
                            disabled>
                    </div>
                </div>
                <div class="layout-column">
                    <button
                        (click)="toggleEditing()"
                        class="button primary-button">
                        Edit Carrier
                    </button>
                    <img [src]="carrier?.logo_url" class="carrier-logo" alt="Carrier Logo">
                </div>
            </div>
        
            <div class="configuration-table-container">
                    <h2>Carrier Configurations</h2>
                    <button
                        (click)="showConfigForm({})"
                        class="button add-new">
                        + Add
                    </button>
                    <app-configuration-table
                        *ngIf="configurations?.length"
                        (showForm)="showConfigForm($event)"
                        [configurations]="configurations">
                    </app-configuration-table>
                </div>
        </div>
</div>
<ng-template #loading>
    <div class="loading">
        <b>Loading Carrier</b>
    </div>
</ng-template>
