.carrier {
    width: 50%;
    margin: 0 auto 0;
    padding-top: 40px;

    .back-button {
        position: fixed;
        top: 1rem;
        left: 1rem;
    }

    .carrier-details {
        flex-grow: 1;

        .layout-column {
            
            &:nth-child(2n) {
                margin-left: 4rem;
                margin-top: 1rem;
            }

            &:first-of-type {
                width: 85%;
            }
        }
    }

    .carrier-logo { 
        height: 100px;
        margin-top: 1rem;
        width: 100px;
    }

    .configuration-table-container {
        background: #fbfbfc;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.14);
        color: rgba(1, 1, 1, 0.54);
        margin-top: 3rem;
        position: relative;

        h2 {
            margin: 0;
            padding: 1rem;
            text-align: start;
        }

        .add-new {
            line-height: inherit;
            max-height: 38px;
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
}
